node_modules
dist-electron
release
dist
.env
.env.*
**/.DS_Store
**/.vscode
**/.idea
scripts/
**/scripts/
scripts/manual-notarize.js

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
